<% @title = 'Sign up' %>
<%= render :partial => 'marketing/title' %>
<h3>Sign up</h3>
<% @person.password = @person.password_confirmation = nil %>

<%= error_messages_for :person %>
<% form_for :person, :url => people_path do |f| -%>

<p><%= label_tag 'email' %><br/>
<%= f.text_field :email %></p>

<p><%= label_tag 'password' %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', 'Confirm Password' %><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= label_tag 'screen name' %><br/>
<%= f.text_field :login %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
