<% @title = 'About' %>

<div id="about">
  <%= render :partial  => 'title' %>
  <h3><%= @title %></h3>
  <p>
    With <%= APP_NAME %> teams find rhythm and transcend limits.
  </p>
  <p>
    <%= APP_NAME %> is a status tracker used by teams to tell
    each other what they did yesterday, what they will do 
    today and what is blocking their way.
  </p>
  <p>&nbsp;</p>
  <p class="underline">
    <%= APP_NAME %> was created by <%= link_to 'Three Mermaids', 'http://www.threemermaidsllc.com' %>.
  </p>
</div>